
      h1 {
        background-color: rgb(61, 91, 237);
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: dashed;
      }
      p {
        background-color: rgb(131, 153, 239);
        font-style: italic;
      }
     body{
         background-color: blue;
     }